.Weather {
  border: 1px solid #70757a;
  font-family: arial, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  margin: 30px;
  border-radius: 4px;
}

.Weather h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 22px;
  height: 28px;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .new {
  margin-top: 15px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather .canvas {
  height: 64px;
  width: 64px;
  vertical-align: top;
}
.Weather .temp {
  margin-top: 10px;
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 24px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  position: relative;
  top: -34px;
}
